html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Baloo Tamma 2', cursive;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  font-size: 24px;
  line-height: 1em;
  margin: 0;
  padding: 0;
}

#robot-img {
  height: 20em;
  margin-left: 1em;
}

a {
  color: tomato;
  font-weight: bold;
}

.robot-text {
  text-decoration: line-through;
}
