* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10em;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

aside {
    background-color: white;
}

h1 {
    color: black;
    opacity: 0.9;
    font-size: 5vw;
    padding: 0;
}

h1 span.highlight {
    color: #8db4d0;
}
